@font-face {
  font-weight: 400;
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-weight: 500;
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

@font-face {
  font-weight: 600;
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

@font-face {
  font-weight: 700;
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

@font-face {
  font-weight: 800;
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-heavy-webfont.woff");
}

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  background: #16181b;
}

h1 {
  margin: 0;
  color: #fff;
  font-weight: 800;
  font-size: 35px;
  font-family: inherit;
  font-style: normal;
  line-height: 40px;
}

h1 b {
  color: #fec32a;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  line-height: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

::placeholder {
  color: #b2b4b8;
  font-weight: normal;
  font-size: 20px;
  font-family: inherit;
  font-style: normal;
  line-height: 24px;
}

hr {
  margin: 0;
  padding: 0;
  border: 0.5px solid #cacdd2;
}
