/* simple-grid */

@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic");
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}
* {
  font-family: Lato, Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

/* custom */

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 800;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-heavy-webfont.woff");
}

body {
  background: #16181b;
  margin: 0 auto;
  max-width: 600px;
  padding: 0;
}

h1 {
  font-family: "San Francisco";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
}

h1 b {
  color: #fec32a;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
::placeholder {
  font-family: "San Francisco";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #b2b4b8;
}

hr {
  border: 0.5px solid #cacdd2;
  margin: 0;
  padding: 0;
}
