/* simple-grid */

.center,
.container {
  margin-right: auto;
  margin-left: auto;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.container {
  width: 90%;
}

.row {
  position: relative;
  width: 100%;
}

/* FIXME -> don't hardcoding classnames when using CSS modules */
.row [class^="local_col"] {
  float: left;
  min-height: 0.125rem;
  margin: 0.5rem 2%;
}

.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* custom */

.logo {
  float: left;
  margin-right: 18px;
}

.main {
  margin: 0;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
}

.home-content {
  margin-right: 24px;
  margin-left: 24px;
}

.header {
  margin-top: 24px;
}

.brand {
  margin-top: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  font-family: inherit;
  line-height: 24px;
}

.col-12 {
  width: 100%;
  margin: 0 !important;
}

.title {
  margin-top: 55px;
  margin-bottom: 56px;
}

.search {
  box-sizing: border-box;
  margin-top: 24px;
}

.search.compact {
  padding-right: 24px;
  padding-left: 24px;
}

.search-box {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background-color: white;
  border: 2px solid #cacdd2;
  border-radius: 6px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.search-input {
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  color: #16181b;
  font-weight: normal;
  font-size: 20px;
  font-family: inherit;
  font-style: normal;
  line-height: 24px;
  border: none;
  border-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.search-button {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 60px;
  height: 60px;
  background: #fec32a;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #d6a11c;
  border-left: none;
  border-radius: 0 6px 6px 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

.explain {
  margin-top: 110px;
  margin-bottom: 100px;
}

.line-group {
  position: relative;
}

.line-title {
  position: absolute;
  top: -8px;
  width: 100%;
  color: white;
  text-align: center;
}

.line-title-text {
  width: fit-content;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
  color: #898b8d;
  font-weight: 600;
  font-size: 13px;
  font-family: inherit;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  background-color: #16181b;
}

.results {
  margin-top: 24px;
  margin-bottom: 100px;
  padding: 4px;
  background-color: #212326;
}

@media screen and (min-width: 600px) {
  .results,
  .scene {
    margin-right: 24px;
    margin-left: 24px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 6px;
  }
}

.results-count {
  width: 100%;
  padding-top: 8px;
  color: #898b8d;
  font-weight: 600;
  font-size: 13px;
  font-family: inherit;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.17em;
  text-align: center;
  text-transform: uppercase;
}

.results-season {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  font-family: inherit;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.result {
  width: 50%;
  margin: 0 !important;
}

.item-container {
  position: relative;
  padding: 4px;
}

.image-result {
  display: block;
  width: 100%;
  background-color: grey;
  border-radius: 3px;
}

.scene {
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 8px;
  background-color: #212326;
}

.chapter-info {
  color: rgba(255, 255, 255, 0.46);
  font-weight: 500;
  font-size: 12px;
  font-family: inherit;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.chapter-data {
  margin: 18px;
}

.chapter-title {
  float: left;
  margin-top: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: inherit;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.06em;
}

.chapter-view {
  float: right;
  margin-top: 10px;
  color: #ffc700;
  font-weight: bold;
  font-size: 14px;
  font-family: inherit;
  font-style: normal;
  line-height: 17px;
  cursor: pointer;
}

.scene-image {
  display: block;
  width: 100%;
  background: grey;
  border-radius: 3px;
}

.subtitles {
  width: 100%;
  margin-top: 24px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 9px;
}

.subtitles-container {
  padding: 12px;
  padding-top: 20px;
}

.subtitle-line {
  position: relative;
  clear: both;
  margin-bottom: 10px;
}

.subtitle-line-indicator {
  position: absolute;
  top: 50%;
  float: left;
  width: 25px;
  height: 27px;
  transform: translateY(-50%);
}

.subtitle-line-indicator.current {
  background-image: url("../img/indicator.svg");
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
}

.subtitle-line-text {
  padding-left: 30px;
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  font-family: inherit;
  font-style: normal;
  line-height: 26px;
  opacity: 0.7;
}

.subtitle-line-text.current {
  opacity: 1;
}

.subtitle-line-text b {
  color: #fff;
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  line-height: inherit;
}

.subtitles-navigation {
  padding: 12px;
  overflow: hidden;
}

.navigation-left {
  float: left;
  width: 90px;
  height: 100px;
}

.navigation-right {
  float: right;
  width: 90px;
  height: 100px;
}

.navigation-image {
  display: block;
  width: 85px;
  height: 63px;
  background-color: gray;
  border-radius: 9px;
}

.navigation-indication {
  width: 100%;
  height: 17px;
  margin-top: 10px;
  padding-left: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;

  /* identical to box height */
  letter-spacing: 0.06em;
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
}

.navigation-indication.left {
  background-image: url("../img/back.svg");
}

.navigation-indication.right {
  margin-right: -15px;
  padding-left: 0;
  text-align: left;
  background-image: url("../img/forward.svg");
  background-position: right;
}

.explain-container {
  margin-top: 50px;
}

.explain-figure {
  position: relative;
  width: 100%;
  height: 50vh;
  max-height: 285px;
}

.explain-image {
  border-radius: 14px;
}

.explain-title {
  margin-top: 16px;
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  font-family: inherit;
  font-style: normal;
  line-height: 36px;
}

.explain-description {
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 18px;
  font-family: inherit;
  font-style: normal;
  line-height: 116%;
}

.explain-description a {
  color: #fec32a;
}

.actions-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: -8px;
  padding-top: 16px;
}

.actions-holder > * {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 8px;
}

.button {
  padding: 5px 10px;
  color: #16181b;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  background: #fff;
  background-repeat: no-repeat;
  background-position: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.action-button {
  height: 35px;
  padding-right: 18px;
  padding-left: 42px;
  color: #16181b;
  font-weight: 600;
  font-size: 16px;
  font-family: inherit;
  font-style: normal;
  line-height: 35px;
  background: #fff;
  background-repeat: no-repeat;
  background-position: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.disabled .action-button {
  cursor: default;
  filter: opacity(0.5);
}

.action-button.download {
  background-image: url("../img/download.svg");
}

.action-button.share {
  background-image: url("../img/share.svg");
}

.action-button.watch {
  background-image: url("../img/watch.svg");
}

@keyframes pulse {
  from {
    filter: opacity(1);
  }

  to {
    filter: opacity(0.7);
  }
}

.loading {
  filter: opacity(1);
  animation: pulse 0.6s ease-in-out infinite alternate;
}

.download-button-anchor {
  position: relative;
}

.download-button-anchor a::after {
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 10;
  width: 3em;
  height: 3em;
  background: white no-repeat center url("../img/download.svg");
  background-size: 50%;
  border-radius: 3px;
  content: " ";
}

.scene-gif-view {
  composes: download-button-anchor;
  display: block;
  margin-top: 21px;
}

.scene-frame-view {
  display: grid;
  grid-auto-columns: 80%;
  grid-auto-flow: column;
  margin-top: 21px;
  overflow: scroll;
  column-gap: 2em;
  border-radius: 3px;
  scroll-snap-type: x mandatory;
}

.scene-frame-view-frame {
  composes: download-button-anchor;
  scroll-snap-align: center;
}
