:root {
  --background: rgba(239, 239, 240, 1);
}

.segmentedControl {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  max-width: 240px;
  margin: 0;
  margin: 0 auto;
  margin-top: 20px;
  padding: 2px;
  overflow: hidden;
  background: var(--background);
  border: none;
  border-radius: 9px;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.segmentedControl .option {
  position: relative;
  cursor: pointer;
}

.segmentedControl .option label span {
  position: relative;
  z-index: 2;
  display: block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  will-change: transform;
}

.segmentedControl .option:not(.checked):hover label span,
.segmentedControl .option:not(.checked):active label span,
.segmentedControl .option:not(.checked):focus label span {
  opacity: 0.2;
}

.segmentedControl .option:not(.checked):active label span {
  transform: scale(0.95);
}

.segmentedControl .option label {
  position: relative;
  display: block;
  padding: 3px 10px;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
}

.segmentedControl .option label::before,
.segmentedControl .option label::after {
  position: absolute;
  top: 14%;
  bottom: 14%;
  width: 1px;
  background: rgba(142, 142, 147, 0.15);
  border-radius: 10px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  content: "";
  will-change: background;
}

.segmentedControl .option label::before {
  left: 0;
  transform: translateX(-0.5px);
}

.segmentedControl .option label::after {
  right: 0;
  transform: translateX(0.5px);
}

.segmentedControl .option:first-of-type {
  grid-row: 1;
  grid-column: 1;
  box-shadow: none;
}

.segmentedControl .option:first-of-type label::before {
  opacity: 0;
}

.segmentedControl .option:last-of-type label::after {
  opacity: 0;
}

.segmentedControl .option input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.segmentedControl .selection {
  z-index: 2;
  grid-row: 1;
  grid-column: 1;
  background: rgba(255, 255, 255, 1);
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 1px 0 rgba(0, 0, 0, 0.04);
  -webkit-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  will-change: transform;
}

.segmentedControl .option.checked label::before,
.segmentedControl .option.checked label::after {
  z-index: 1;
  background: var(--background);
}

.segmentedControl .option.checked label {
  cursor: default;
}
